$w: #fff;
%bar {
    content: "";
    position: absolute;
    height: 2px;
    left: 50%;
    border: 2px solid $w;
    background: #272822;
    transition: .2s;
}
.con-container {
    position: relative;
    height: calc(100vh - 107px);
    @media (max-height: 550px) {
        height: 550px;
    }
    #particles-js {
        background-color: #000;
        height: 100%;
        overflow: hidden;
        .particles-js-canvas-el {
            animation: appear 2s;
            animation-fill-mode: forwards;
            @keyframes appear {
                0% {
                    transform: scale(0);
                    opacity: 0;
                }
                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }
    .contact {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 400px;
        text-align: center;
        border-radius: 15px;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, .5);
        @media (max-width: 500px) {
            width: 70%;
            height: auto;
            padding-bottom: 25px;
        }
        h1 {
            font-family: "Cloister Black";
            font-size: 60px;
            margin-bottom: 25px;
            @font-face {
                font-family: "Cloister Black";
                src: url("./fonts/CloisterBlack.ttf") format("truetype");
            }
        }
        p {
            font-size: 25px;
            margin-bottom: 35px;
        }
        button {
            position: relative;
            background: #444;
            text-transform: uppercase;
            border: none;
            letter-spacing: .1rem;
            font-size: 1rem;
            padding: 1rem 3rem;
            transition: .5s;
            &::before {
                content: "";
                position: absolute;
                inset: 3px;
                background: #000;
            }
            span {
                position: relative;
                a {
                    text-decoration: none;
                    color: $w;
                }
            }
            &:hover {
                letter-spacing: .4rem;
                padding: 1.1rem 3.1rem;
                background: $w;
                box-shadow: 0 0 999px $w;
                animation: box 1s infinite;
                @keyframes box {
                    0% {
                        box-shadow: #27272c;
                    }
                    50% {
                        box-shadow: 0 0 10px $w;
                    }
                    100% {
                        box-shadow: #27272c;
                    }
                }
            }
        }
    }
}