* {
    header{
        position: fixed;
        width: 100vw;
        z-index: 1;
    }
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, Serif;
    ::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    user-select: none;
    h1 {
        margin: 0;
    }
}